@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
#mainhtml {
  font-size: 1.707577374599787vh;
}

* {
  box-sizing: border-box;
}

#mainbody {
  margin: 0px;
  overflow-y: auto;
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.con {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  color: #5A5A5A;
  box-shadow: 20px 20px 40px #0000000D;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topfont {
  font-size: 7rem;
}

#secondfont {
  font-size: 1.7rem;
}

.rootDiv {
  width: 100%;
  margin-top: 5vh;
}

.mainComp {
  font-family: 'Nunito', sans-serif !important;
  box-sizing: border-box;
}

.parentCon {
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.innerCon {
  width: 65vw;
}

.buttonMain {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border: 0px;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3) !important;
  color: white !important;
  font-weight: 500;
  height: 3.5vh;
}

.toolBarRight {
  display: flex;
  justify-content: flex-end;
}

.appBarColor {
  background-color: rgba(0, 0, 0,0.15) !important;
}

@media screen and (max-width: 600px) {
  .innerCon {
    width: 100%;
  }
  .parentCon {
    margin-top: 2vh;
  }
}

